<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685887848325-85dbf9lsbdvf7nk5euf3llejrhh6lb9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685887848325-85dbf9lsbdvf7nk5euf3llejrhh6lb9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCtKrb6X_sGFhKjjs8Kr_i--qZyhxjzM2w</string>
	<key>GCM_SENDER_ID</key>
	<string>685887848325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokapp</string>
	<key>PROJECT_ID</key>
	<string>pokapp-web</string>
	<key>STORAGE_BUCKET</key>
	<string>pokapp-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685887848325:ios:dc448e1f7ab07cd4dd0eec</string>
</dict>
</plist>